# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~"
alias -- -="cd -"
alias c="cd"
alias bd=". ~/bin/bd/bd -s"

# Folders
alias dt="cd ~/Desktop/"
alias d="cd ~/Documents/Dropbox"
alias sites="cd ~/Sites"
alias packages="cd ~/Library/Application\ Support/Sublime\ Text\ 3/Packages"

# Shortcuts
alias q="logout"
alias curlresume="curl -C - -o "
mkdircd() { mkdir "$1" -p && cd "$1"; }
alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"
# Name console tab
title() {
	echo -ne "\033]0;"$*"\007"
}


# Show/hide hidden files in Finder
alias showhidden="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
alias hidehidden="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"
# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"


# ls modes
source ~/dotfiles/ls

# Nodejs
source ~/dotfiles/node
# Git
source ~/dotfiles/git
# Svn
source ~/dotfiles/svn
# Postgres
source ~/dotfiles/pg
# Utils
source ~/dotfiles/utils
